<div class="back"></div>
<div class="back-second"></div>
<div class="background"></div>

<header class="wrapper">
  <div class="home-header-container">
    <nav class="home-nav">
      <div class="home-site-title">
        <a href="http://halowake.com"><span class="bold">halo</span>wake</a>
      </div>
      <ul>
        <li><%= link_to "Discover", "#", class: "home-nav-links" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Your Page", user_path(current_user), class: "home-nav-links" %></li>
          <li><%= link_to "Sign Out", sign_out_path, class: "home-nav-links" %></li>
        <% else %>
          <li><span class="home-nav-links" id="sign-in">Sign in</span></li>
          <li><span class="home-nav-links" id="register">Register</span></li></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<main class="wrapper ten-space center white">
  <div class="mini-container">
    <div class="large-text">
      Sign up or something
    </div>
    <div class="five-space">
      Here's the reason you should sign up
    </div>
    <div>
      <%= link_to "Sign up", register_path, class: "home-button" %>
    </div>
  </div>
</main>

<% unless user_signed_in? %>

<div id="sign-in-form">
  <div class="profile-form-inside">
    <div class="close"></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :login, "Username or email" %>
        <%= f.text_field :login, autofocus: true, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %> <%= link_to "I forgot my password.", '#', class: "mini-text" %>
        <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions border-bottom three-space-bottom-padding">
        <%= f.submit "Log in", class: "submit-button" %>
      </div>
    <% end %>

    <div class="three-space-top">
      <%= link_to "But I don't have an account yet.", register_path %>
    </div>

  </div>
</div>

<div id="register-form">
  <div class="profile-form-inside">
    <div class="close"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "submit-button" %>
      </div>
    <% end %>

  </div>
</div>

<% end %>