<div class="wrapper">
  <div class="container">

    <div class="form-container">
      <div class="three-space medium-text">
        Membership options
      </div>

      <%= form_for(@membership, url: user_membership_path(@user)) do |f| %>

        <%= f.radio_button(:membership_type, "bronze") %>
        <%= label(:membership_type, "Bronze") %>
        <%= f.radio_button(:membership_type, "silver") %>
        <%= label(:membership_type, "Silver") %>
        <%= f.radio_button(:membership_type, "gold") %>
        <%= label(:membership_type, "Gold") %>
        <%= f.radio_button(:membership_type, "platinum") %>
        <%= label(:membership_type, "Platinum") %>


        <%= f.submit "Update membership", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>

    </div>

  </div>
</div>