<div class="wrapper">
  <div class="container">

      <div class="three-space medium-text">
        Membership options
      </div>

      <%= form_for(@membership, url: user_membership_path(@user)) do |f| %>

      <div class="field">

        <label class="unchecked-membership-tab" id="bronze-tab" for="bronze-id">
          <div class="medium-text padding-tab">
            Bronze
          </div>
          <%= f.radio_button(:membership_type, "bronze", id: "bronze-id") %>
        </label>

        <label class="unchecked-membership-tab border-top-tab" id="silver-tab" for="silver-id">
          <div class="medium-text padding-tab">
            Silver
          </div>
          <%= f.radio_button(:membership_type, "silver", id: "silver-id") %>
        </label>

        <label class="unchecked-membership-tab" id="gold-tab" for="gold-id">
          <div class="medium-text padding-tab">
            Gold
          </div>
          <%= f.radio_button(:membership_type, "gold", id: "gold-id") %>
        </label>

        <label class="unchecked-membership-tab" id="platinum-tab" for="platinum-id">
          <div class="medium-text padding-tab">
            Platinum
          </div>
          <%= f.radio_button(:membership_type, "platinum", id: "platinum-id") %>
        </label>


      </div>


        <%= f.submit "Update membership", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>


  </div>
</div>