<div class="wrapper">
  <div class="container">

      <div class="three-space medium-text">
        Membership options
      </div>

      <%= form_for(@membership, url: user_membership_path(@user)) do |f| %>

      <div class="field">

        <div class="four-tab">
          <label class="unchecked-membership-tab" id="bronze-tab" for="bronze-id">Bronze</label>
          <%= f.radio_button(:membership_type, "bronze", id: "bronze-id") %>
        </div>

        <div class="four-tab">
          <label class="unchecked-membership-tab" id="silver-tab" for="silver-id">Silver</label>
          <%= f.radio_button(:membership_type, "silver", id: "silver-id") %>
        </div>

        <div class="four-tab">
          <label class="unchecked-membership-tab" id="gold-tab" for="gold-id">Gold</label>
          <%= f.radio_button(:membership_type, "gold", id: "gold-id") %>
        </div>

        <div class="four-tab">
          <label class="unchecked-membership-tab" id="platinum-tab" for="platinum-id">Platinum</label>
          <%= f.radio_button(:membership_type, "platinum", id: "platinum-id") %>
        </div>


      </div>


        <%= f.submit "Update membership", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>


  </div>
</div>