<div id="album-form">
  <div class="profile-form-inside">
    <div class="close"></div>

    <%= form_for(Album.new, url: user_albums_path(@user), remote: true) do |f| %>
      <span id="album_errors"><%= render 'partials/errors/album_errors' %></span>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, class: "text-area" %>
      </div>
      <%= f.submit "Create photo album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
    <% end %>

  </div>
</div>