<% if @user.albums.any? %>
  <div id="albums-container">
    <% @user.albums.each do |album| %>
    
      <div class="nameplate border-bottom">
        <div class="first-column relative">
          <% album.photos.take(1).each do |photo| %>
            <%= link_to(user_album_path(@user, album)) do %>
              <img class="thumbnail-image" srcset="<%= photo.image_url(:thumb) %>" width="100%" height="auto" />
            <% end %>
          <% end %>
        </div>

        <div class="second-column">
          <div class="medium-text">
            <%= link_to album.title, user_album_path(@user, album) %>
          </div>
          <div class="one-space">
            <%= album.description %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <div id="feed-container">
    <div class="nameplate">
      <% @user.feed.each do |photo| %>
        <div class="three-column-feed border">
          <div class="relative">
            <%= link_to(user_album_photo_path(photo.user, photo.album, photo)) do %>
              <img class="thumbnail-image-feed" src="<%= photo.image_url(:thumb) %>">
            <% end %>
            <div class="centered">
              <div class="text-hover large-text">
                <%= link_to "+#{photo.votes.count}", user_album_photo_path(photo.user, photo.album, photo), class: "black" %>
              </div>
            </div>
          </div>
          <div class="feed-container">
            <div>
              <%= link_to truncate(photo.title, :length => 50), user_album_photo_path(photo.user, photo.album, photo) %>
            </div>
            <div class="mini-text">
              Posted by
              <% if photo.user.profile.first_name.present? && photo.user.profile.last_name.present? %>
                <%= link_to "#{photo.user.profile.first_name}" + " " + "#{photo.user.profile.last_name}", user_path(photo.user), class: "feed-links" %>
              <% else %>
                <%= link_to photo.user.username, user_path(photo.user), class: "feed-links" %>
              <% end %>
              <%= time_ago_in_words(photo.created_at) %> ago.
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>

  <%# feed goes here %>

<% end %>