<div class="wrapper dark-background">
  <div class="container">
    <div class="nameplate">
      <img class="big-image" src="<%= @photo.image_url(:large) %>">
      <div class="one-space-top white center">
        <span id="share-click">Share</span>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">


    <div class="nameplate border-bottom large-text">
      <div class="vote_button">
        <%= render 'users/partials/votes/vote_button' %>
      </div>
      <span class="vote_count"><%= render 'users/partials/votes/vote_count' %></span> - <span class="photo_title"><%= render "users/partials/photos/photo_title" %></span><span class="tiny-text"> - posted on <%= @photo.created_at.strftime("%m.%d.%Y") %> by <%= link_to @user.username, user_path(@user) unless @user.profile.first_name.present? || @user.profile.last_name.present? %> 
        <%= link_to(user_path(@user)) do %>
          <%= @user.profile.first_name if @user.profile.first_name.present? %> <%= @user.profile.last_name if @user.profile.last_name.present? %>
        <% end %>
         - 
        
        <% if user_signed_in? && current_user != @user %>
          <div class="first-column">
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                       html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: "follow" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, @user.id %></div>
                <%= f.submit "Follow", class: "follow" %>
              <% end %>
            <% end %>
          </div>
        <% elsif user_signed_in? == false %>
            <%= link_to "Follow", sign_in_path %>
        <% end %>

        <% if user_signed_in? && current_user == @user %>
          <span id="edit-photo-click">Edit this photo</span>
        <% end %>

      </span>
    </div>

    <span class="photo_details"><%= render "users/partials/photos/photo_details" %></span>

  </div>
</div>

<span class="photo_purchase_form"><%= render "users/partials/photos/photo_purchase_form" %></span>

<% if user_signed_in? && current_user == @user %>
  
  <span class="photo_form"><div id="album-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <%= form_for(@photo, url: user_album_photo_path(@user, @album, @photo), remote: true) do |f| %>
        <%= render 'partials/errors/photo_errors' %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :image %>
          <%= f.hidden_field :image, value: Photo.new.cached_image_data %>
          <%= f.file_field :image %>
        </div>

        <div class="field flex">
          <label class="checked-tab" id="photo-tab" for="is-photo-click">Photo</label>
          <%= f.radio_button(:photo_type, "photo", id: "is-photo-click") %>

          <label class="unchecked-tab" id="art-tab" for="is-art-click">Art</label>
          <%= f.radio_button(:photo_type, "art", id: "is-art-click") %>
        </div>

        <div id="optional-fields-click" class="field-padding border-top">
          Options &#9660;
        </div>
        <div id="optional-fields-close">
          <div class="field-padding border-top">
            Options &#9650;
          </div>
        </div>

        <div id="optional-fields">
          <div id="photo-fields" class="three-space-top-padding border-top">
            <div class="field">
              <%= f.label :resolution %>
              <%= f.text_field :resolution, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :camera %>
                <%= f.text_field :camera, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :lens %>
              <%= f.text_field :lens, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :aperture %>
              <%= f.text_field :aperture, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :exposure %>
              <%= f.text_field :exposure, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :flash %>
              <%= f.text_field :flash, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :focal_length %>
              <%= f.text_field :focal_length, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :iso %>
              <%= f.text_field :iso, class: "text-field" %>
            </div>
          </div>

          <div id="art-fields" class="three-space-top-padding border-top">
            <div class="field">
              <%= f.label :tool %>
              <%= f.text_field :tool, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :medium %>
              <%= f.text_field :medium, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :surface %>
              <%= f.text_field :surface, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :style %>
                <%= f.text_field :style, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :size %>
              <%= f.text_field :size, class: "text-field" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "text-area" %>
          </div>

          <% if current_user.payment_setting.present? && current_user.payment_setting.stripe_id.present? %>
            <div class="field">
              <%= f.label :for_sale %>
              <%= f.check_box :for_sale, class: "text-field", id: "for-sale" %>
            </div>
            <div id="for-sale-container">
              <div class="field">
                <%= f.label :base_price %>
                <%= f.text_field :base_price, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label(:transport_type, "Downloadable") %>
                <%= f.radio_button(:transport_type, "downloadable", id: "downloadable") %>
              </div>
              <div class="field">
                <%= f.label(:transport_type, "Shippable") %>
                <%= f.radio_button(:transport_type, "shippable", id: "shippable") %>
              </div>
              <div id="shippable-fields">
                <div class="field">
                  <%= f.label :shipping_price %>
                  <%= f.text_field :shipping_price, class: "text-field" %>
                </div>
              </div>
              <div class="field">
                <%= f.label :currency %>
                <%= f.text_field :currency, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :quantity %>
                <%= f.text_field :quantity, class: "text-field" %>
              </div>
            </div>
          <% end %>
        </div>

        <%= f.submit "Update photo", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>

    </div>
  </div></span>
<% end %>

<div id="share-form">
  <div class="profile-form-inside">
  <div class="close"></div>
    <div class="field">
      <div class="facebook-button">
        Facebook
      </div>
    </div>
    <div class="field">
      <div class="twitter-button">
        Twitter
      </div>
    </div>
    <div class="field">
      <div class="pinterest-button">
        Pinterest
      </div>
    </div>
    <div class="field">
      <div class="reddit-button">
        Reddit
      </div>
    </div>
    <div class="tumblr-button">
      Tumblr
    </div>
  </div>
</div>