<header class="wrapper">
  <div class="header-container">
    <nav class="nav">
      <div class="site-title">
        <a href="http://halowake.com"><span class="bold">halo</span>wake</a>
      </div>
      <ul>
        <li id="menu-click">Menu</li>
      </ul>
    </nav>
  </div>
</header>

<div id="menu-container" class="side-header medium-text">
  <ul>
    <li id="close-menu">Close</li>
    <li><%= link_to "Discover", "#", class: "nav-links" %></li>
    <% if user_signed_in? %>
      <% if current_user.is_member %>
        <li><%= link_to "Your Page", user_path(current_user), class: "nav-links" %></li>
        <li><%= link_to "Purchases", user_purchases_path(current_user), class: "nav-links" %></li>
        <li><%= link_to "Membership", edit_user_membership_path(current_user), class: "nav-links" %></li>
        <li><%= link_to "Account Settings", edit_registration_path(current_user), class: "nav-links" %></li>
        <li>
          <% if current_user.payment_setting.present? %>
            <%= link_to "Payment Settings", edit_user_payment_settings_path(current_user), class: "nav-links" %>
          <% else %>
            <%= link_to "Payment Settings", new_user_payment_settings_path(current_user), class: "nav-links" %>
          <% end %>
        </li>
      <% end %>
      <li><%= link_to "Sign Out", sign_out_path, class: "nav-links" %></li>
    <% else %>
      <li><span class="nav-links" id="sign-in">Sign in</span></li>
      <li><span class="nav-links" id="register">Register</span></li>
    <% end %>
  </ul>
</div>

<% unless user_signed_in? %>

<div id="sign-in-form">
  <div class="profile-form-inside">
    <div id="close-sign-in">
      Close
    </div>
    
    <div class="three-space medium-text">
      Sign in
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :login, "Username or email" %>
        <%= f.text_field :login, autofocus: true, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "submit-button" %>
      </div>
    <% end %>

  </div>
</div>

<div id="register-form">
  <div class="profile-form-inside">
    <div id="close-register">
      Close
    </div>

    <div class="three-space medium-text">
      Register
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "submit-button" %>
      </div>
    <% end %>

  </div>
</div>

<% end %>