<div class="wrapper">
  <div class="container">

    <span class="update_profile"><%= render 'users/partials/profiles/nameplate' %></span>

    <% if user_signed_in? && current_user == @user %>
      <div class="nameplate border-bottom flex">
        <div class="first-column">
          <div id="edit-profile">
            Edit profile
          </div>
        </div>

        <div class="second-column">
          <div id="create-album">
            Upload a photo
          </div>
        </div>
      </div>
    <% end %>

    <span class="album_title"><%= render "users/partials/albums/album_title" %></span>

    <span class="album_description"><%= render "users/partials/albums/album_description" %></span>

    <main class="five-space">

      <% if @album.photos.any? %>
        <span class="album_links"><%= render "users/partials/albums/album_links" %></span>
      <% end %>

    </main>

  </div>
</div>

<% if user_signed_in? && current_user == @user %>

  <div id="profile-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <%= form_for(@profile, url: user_profile_path(@user), remote: true) do |f| %>
        <%= render 'partials/errors/profile_errors' %>
        
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :image %>
          <%= f.hidden_field :image, value: Photo.new.cached_image_data %>
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <%= f.label :age %>
          <%= f.text_field :age, class: "text-field" %>
        </div>

        <%= fields_for :location, @location do |u| %>
          <div class="field">
            <%= u.label :city %>
            <%= u.text_field :city, class: "text-field" %>
          </div>
          <div class="field">
            <%= u.label :state %>
            <%= u.text_field :state, class: "text-field" %>
          </div>
          <div class="field">
            <%= u.label :country %>
            <%= u.text_field :country, class: "text-field" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :facebook_handle %>
          <%= f.text_field :facebook_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :facebook_url %>
          <%= f.text_field :facebook_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %>
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_url %>
          <%= f.text_field :twitter_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :instagram_handle %>
          <%= f.text_field :instagram_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :instagram_url %>
          <%= f.text_field :instagram_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography, class: "text-area" %>
        </div>

          <%= fields_for :theme, @theme do |u| %>
            <div class="field">
              <%= u.label :main_color %>
              <%= u.text_field :main_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :text_color %>
              <%= u.text_field :text_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :background_color %>
              <%= u.text_field :background_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :link_color %>
              <%= u.text_field :link_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :hover_color %>
              <%= u.text_field :hover_color, class: "text-field" %>
            </div>
          <% end %>

         <%= f.submit "Update profile", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if user_signed_in? && current_user == @user %>

  <span class="photo_form"><%= render "users/partials/photos/photo_form" %></span>

<% end %>

<% if user_signed_in? && current_user == @user %>

  <div id="edit-album-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <%= form_for(@album, url: user_album_path(@user), remote: true) do |f| %>
        <%= render 'partials/errors/album_errors' %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "text-area" %>
        </div>
        <%= f.submit "Update photo album", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>

    </div>
  </div>
<% end %>
