<%= provide(:title, "Provide Shipping Information For Order #{@purchase.id} | Halowake") %>

<div class="wrapper">
  <div class="container">

      <div class="three-space medium-text">
        Set up a merchant account, part 2
      </div>

      <div class="nameplate border-top">
        <div class="form-container">

          <%= form_for(@purchase, url: user_album_photo_purchase_path) do |f| %>
            <%= render 'partials/errors/purchase_errors' %>

              <div class="field smedium-text bold center">
                <%= @purchase.photo.title %>
              </div>

              <div class="field">
                <%= f.label :full_name %>
                <%= f.text_field :full_name, required: true, class: "text-field" %>
              </div>

              <div class="field">
                <%= f.label :country %>
                <%= f.select :country, options_for_select(country_select) %>
              </div>

              <div class="field">
                <%= f.label :street_address %>
                <%= f.text_field :street_address, required: true, class: "text-field" %>
              </div>
              <div class="flex">
                <div class="one-thirds-form">
                  <%= f.label :city %>
                  <%= f.text_field :city, required: true, class: "text-field" %>
                </div>
                <div class="one-thirds-form">
                  <%= f.label :state %>
                  <%= f.text_field :state, required: true, class: "text-field" %>
                </div>
                <div class="one-thirds-form">
                  <%= f.label :zip_code %>
                  <%= f.text_field :zip_code, required: true, class: "text-field" %>
                </div>
              </div>

              <%= f.submit "Update shipping information", data: { disable_with: 'Updating...' }, class: "submit-button" %>

          <% end %>


        </div>
      </div>


  </div>
</div>