<div class="wrapper dark-background">
  <div class="container">
    <div class="nameplate">
      <img class="big-image" src="<%= @photo.image_url(:original) %>">
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">

    <div class="border-bottom one-space">
      Buyer:
      <%= User.friendly.find(@purchase.buyer_id).username %>
    </div>

    <div class="border-bottom one-space">
      <% if @purchase.stripe_charge_id.present? %>
        Paid
      <% elsif @purchase.stripe_charge_id.blank? && current_user == @buyer %>
        <%= link_to "Not paid", checkout_user_album_photo_purchase_path(@seller, @album, @photo, @purchase) %>
      <% else %>
        Not paid
      <% end %>
    </div>

    <div class="border-bottom one-space">
      Quantity:
      <%= @purchase.quantity %>
    </div>

    <div class="border-bottom one-space">
      Complete price:
      <%= @purchase.complete_price %>
    </div>


    Shipping information:

    <div class="border-bottom one-space">
      <% if @purchase.photo.shippable? %>
        <% if @purchase.street_address.present? && @purchase.is_shipped == false %>
          <%= form_for(@purchase, url: user_album_photo_purchase_path(User.find(@purchase.seller_id).slug, Album.find(Photo.find(@purchase.photo_id).album_id).slug, Photo.find(@purchase.photo_id).slug, Purchase.find(@purchase.id))) do |f| %>
            <%= f.submit "Mark as shipped", class: "follow" %>
          <% end %>
        <% elsif @purchase.street_address.blank? %>
          No shipping address
        <% end %>
        <% if @purchase.street_address.present? %>
          <%= @purchase.full_name %> <%= @purchase.street_address %>, <%= @purchase.city %>, <%= @purchase.state if @purchase.state.present? %>, <%= @purchase.country %> <%= @purchase.zip_code %>
        <% end %>
      <% else %>
        Downloadable
      <% end %>
    </div>

    <% if @purchase.photo.shippable? && @purchase.is_shipped? %>
      <div class="border-bottom one-space">
        Shipped
      </div>
    <% end %>

  </div>
</div>