<% if @user.profile.first_name.present? && @user.profile.last_name.present? %>
  <%= provide(:title, sanitize(@user.profile.first_name) + " " + sanitize(@user.profile.last_name) + " | " + "Settings") %>
<% else %>
  <%= provide(:title, sanitize(@user.username) + " | " + "Settings") %>
<% end %>

<div class="wrapper">
  <div class="container">

    <div class="three-space medium-text">
      Settings
    </div>

    <div class="nameplate border-top">
      <div class="form-container">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "text-field" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <span class="dark mini-text">(<%= @minimum_password_length.to_s + " characters minimum." if @minimum_password_length %> Leave blank if you don't want to change it.)</span>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <span class="dark mini-text">(To confirm your changes.)</span>
            <%= f.password_field :current_password, autocomplete: "off", class: "text-field" %>
          </div>

          <%= f.submit "Update settings", data: { disable_with: 'Updating...' }, class: "submit-button" %>
        <% end %>

        <div class="nameplate">
          <%= link_to "Add a payment source?", edit_source_path(@user) %>
        </div>

        <div class="fifty-space-top">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel-button" %>
        </div>


      </div>
    </div>


  </div>
</div>


